In [7]:
import pandas as pd

data = pd.read_csv(r'C:\Users\ASUS\Downloads\nyc_taxis.csv')
data

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89555,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1
89556,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
89557,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
89558,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
89559,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [8]:
##Top 10 rows of data

data.head(10)

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
5,2016,1,1,5,0,4,2,21.45,2004,52.0,0.8,0.00,52.80,105.60,1
6,2016,1,1,5,0,2,6,8.45,927,24.5,1.3,0.00,6.45,32.25,1
7,2016,1,1,5,0,2,6,7.30,731,21.5,1.3,0.00,0.00,22.80,2
8,2016,1,1,5,0,2,5,36.30,2562,109.5,0.8,11.08,10.00,131.38,1
9,2016,1,1,5,0,6,2,12.46,1351,36.0,1.3,0.00,0.00,37.30,2

In [9]:
##Last 10 rows of data

data.tail(10)

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
89550,2016,6,30,4,5,3,4,11.60,2280,36.5,1.3,5.54,7.00,50.34,1
89551,2016,6,30,4,5,2,4,17.60,4196,52.0,0.8,5.54,0.00,58.34,2
89552,2016,6,30,4,5,3,6,6.50,1301,22.0,1.3,0.00,3.50,26.80,1
89553,2016,6,30,4,5,4,3,11.73,3061,44.5,1.3,5.54,7.00,58.34,1
89554,2016,6,30,4,5,3,6,3.10,671,11.5,1.3,0.00,2.00,14.80,1
89555,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1
89556,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
89557,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
89558,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
89559,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [10]:
##statistical description

data.describe().T

,count,mean,std,min,25%,50%,75%,max
pickup_year,89560.0,2016.000000,0.000000,2016.00,2016.00,2016.00,2016.00,2016.00
pickup_month,89560.0,3.614471,1.692354,1.00,2.00,4.00,5.00,6.00
pickup_day,89560.0,15.693535,8.694046,1.00,8.00,16.00,23.00,31.00
pickup_dayofweek,89560.0,3.841335,2.001929,1.00,2.00,4.00,5.00,7.00
pickup_time,89560.0,3.082671,1.404460,0.00,2.00,3.00,4.00,5.00
pickup_location_code,89560.0,2.959882,0.823339,0.00,2.00,3.00,4.00,6.00
dropoff_location_code,89560.0,3.379243,1.382522,0.00,2.00,4.00,4.00,7.00
trip_distance,89560.0,12.667426,5.167848,0.00,9.26,11.32,17.22,182.90
trip_length,89560.0,2235.981108,3238.775577,1.00,1394.00,1943.00,2665.00,86383.00
fare_amount,89560.0,38.404484,12.891446,-52.00,29.50,37.00,52.00,400.00
fees_amount,89560.0,1.209176,0.945975,-1.80,0.80,0.80,1.30,6.30
tolls_amount,89560.0,3.538310,4.107658,-5.54,0.00,5.54,5.54,805.54
tip_amount,89560.0,5.814489,4.832459,0.00,0.00,6.47,9.46,100.00
total_amount,89560.0,48.966662,16.429253,-58.34,38.84,48.34,60.80,834.84
payment_type,89560.0,1.290442,0.476341,1.00,1.00,1.00,2.00,4.00

In [ ]:
Area of concern here gets generated by the negative fare amount , so this needs to be looked.

In [15]:
##unique values in fare amount column

data['fare_amount'].nunique()

257

In [18]:
##avg price of fare amount

data['fare_amount'].mean()

38.404484033050466

In [19]:
##show null values in data frame

data.isnull().sum()

pickup_year              0
pickup_month             0
pickup_day               0
pickup_dayofweek         0
pickup_time              0
pickup_location_code     0
dropoff_location_code    0
trip_distance            0
trip_length              0
fare_amount              0
fees_amount              0
tolls_amount             0
tip_amount               0
total_amount             0
payment_type             0
dtype: int64

In [ ]:
 no null values

In [23]:
##check for the datatypes of the coulumns

data.dtypes

pickup_year                int64
pickup_month               int64
pickup_day                 int64
pickup_dayofweek           int64
pickup_time                int64
pickup_location_code       int64
dropoff_location_code      int64
trip_distance            float64
trip_length                int64
fare_amount              float64
fees_amount              float64
tolls_amount             float64
tip_amount               float64
total_amount             float64
payment_type               int64
dtype: object

In [ ]:
no object type value